body {
  margin: 0;
  padding: 0;
  background: url(images/Blackground.jpg) no-repeat;
  background-size: cover;
}

.rounded-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.container h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.container h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.container p {
  text-align: justify;
}

ul {
  margin: 0;
  padding: 0;
}

.container li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.container li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.container li a:hover {
  color: #b9b9b9;
}

.mt-3 a {
  color: white;
  text-decoration: none;
  font-size: 50px; /* Increase the font size */
  margin: 0 10px; /* Add some space between the icons */
  transition: all ease-in-out 250ms;
}

.mt-3 a:hover {
  color: #b9b9b9;
}
